module.exports = {
    clientId : 2,
    clientSecret: 'ny8qOsRycE6HWgZXZYzVcl4DGQnLaEJy6OsFzlsW',

    baseUrl: 'https://api.t.fineyoga.com',
    tokenApi: 'https://api.t.fineyoga.com/staff/oauth/token',
    userApi: 'https://api.t.fineyoga.com/staff/info',
    iconFont:'https://at.alicdn.com/t/font_1948838_pev9czn80nt.js',

    ossBucket: 'admin',

    buckets: {
        admin: 'admin',
        video: 'video',
    },

    aliyunUserId: '290969971646573700',
    env: "test",
    imageMaxSize: 5, // M
};
