.member-modal-content {
    flex-direction: row;
    display: flex;
}
:host {
    height: 100%;
    flex-direction: column;
    display: flex;
}
.user-info {
    width: 140px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 24px;
    padding: 24px;
    .head-portrait {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
    }
    .head-avatar {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name {
            font-size: 18px;
            overflow: hidden;
            overflow-wrap: break-word;
            text-align: center;
        }
    }
    .mb8 {
        margin-bottom: 8px;
    }
}
.avatar {
    width: 100%;
}
.modal-content {
    display: flex;
    height: 100%;
  
    .ant-tabs {
      flex: 1;
  
      .ant-tabs-top-content {
        height: calc(100% - 60px);
  
        .ant-tabs-tabpane {
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
  
      .edui-default .edui-editor-toolbarbox {
        position: sticky!important;
        top: 0px;
        z-index: 1000;
      }
    }
  }
  .remind{
      color: red;
      margin: -10px 0 14px 128px;
  }
