<content-header [collection]="collection" [buttonGroups]="buttons">
  <ny-search-input [uri]="'school/teaching-school/student/list'" [pageSize]="50" (collection)="setCollection($event)">
  </ny-search-input>
</content-header>

<ny-table [collection]="collection" [showIndex]="true">
  
</ny-table>

<ny-modal [isFull]="true" appendTo="nz-content" [(visible)]="addStudentVisible" (onClose)="cancelMemberEditor()">
  <ny-header>
    <h2>学员添加</h2>
    <p style="flex: 1"></p>
      <button nz-button nzType="default" (click)="cancelMemberEditor()" style="margin-right: 16px;">取消</button>
      <button nz-button nzType="primary" (click)="saveMember()">保存</button>
  </ny-header>
  <div nyForm="infoForm" (onInit)="subInfoForm()" (onChange)="onFormChange($event)">
        <div class="form-group">
            <label class="label"><em>*</em>姓名:</label>
            <div>
                <input nz-input nyName="name" errorStyle="float">
            </div>
        </div>

        <div class="form-group">
            <label class="label">英文名字:</label>
            <div>
                <input nz-input nyName="english_name">
            </div>
        </div>

        <div class="form-group">
            <label class="label"><em>*</em>手机号:</label>
            <div>
                <input nz-input nyName="mobile" errorStyle="float">
            </div>
        </div>

        <div class="form-group">
            <label class="label">微信号:</label>
            <div>
                <input nz-input nyName="wechat_id" errorStyle="float">
            </div>
        </div>

        <div class="form-group">
            <label class="label">邮箱:</label>
            <div>
                <input nz-input type='email' nyName="email">
            </div>
        </div>

        <div class="form-group flex-center">
            <label class="label"><em>*</em>性别:</label>
            <div>
                <nz-radio-group [(ngModel)]="sexValue">
                    <label nz-radio [nzValue]="1">男</label>
                    <label nz-radio [nzValue]="2">女</label>
                </nz-radio-group>
            </div>
        </div>

        <div class="form-group">
            <label class="label">头像:</label>
            <div>
                <nz-upload class="avatar-uploader" nzListType="picture-card" [nzShowUploadList]="false"
                           [nzCustomRequest]="uploadImg">
                    <ng-container *ngIf="!picture">
                        <i class="upload-icon" nz-icon [nzType]="uploadLoading ? 'loading' : 'plus'"></i>
                        <div class="ant-upload-text">上传图片</div>
                    </ng-container>
                    <img *ngIf="picture" class="avatar" [src]="ossPath + picture" width="100%"/>
                </nz-upload>
            </div>
        </div>

        <div class="form-group">
            <label class="label"><em>*</em>地址:</label>
            <div>
                <nz-select style="width: 200px;margin-right: 10px;" [(ngModel)]="params.province_id" (ngModelChange)="onChange($event,'province')">
                    <nz-option *ngFor="let province of provinceList" [nzLabel]="province.name" [nzValue]="province.id">
                    </nz-option>
                </nz-select>
                <nz-select style="width: 200px;margin-right: 10px;" [(ngModel)]="params.city_id" (ngModelChange)="onChange($event,'city')">
                    <nz-option *ngFor="let city of cityList" [nzLabel]="city.name" [nzValue]="city.id">
                    </nz-option>
                </nz-select>
                <nz-select style="width: 200px;margin-right: 10px;" [(ngModel)]="params.area_id">
                    <nz-option *ngFor="let area of areaList" [nzLabel]="area.name" [nzValue]="area.id">
                    </nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label"><em>*</em>状态:</label>
            <div>
                <nz-select style="width: 200px;margin-right: 10px;" nyName="status" errorStyle="float">
                    <nz-option *ngFor="let status of statusData" [nzLabel]="status.label" [nzValue]="status.value"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label">注册派别:</label>
            <div>
                <nz-select style="width: 200px;" nyName="genre" nzMode="multiple">
                    <nz-option *ngFor="let item of faction" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label"><em>*</em>注册等级:</label>
            <div>
                <nz-select style="width: 200px;margin-right: 10px;" nyName="degree">
                    <nz-option *ngFor="let item of registerGradeData" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="form-group">
            <label class="label">销售员:</label>
            <div>
                <nz-select style="width: 200px;" nyName="salesman_id" [disabled]="true">
                    <nz-option *ngFor="let item of salesmanList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label"><em>*</em>来源渠道:</label>
            <div>
                <nz-select style="width: 200px;" [nzMode]="'multiple'" nyName="source_ids">
                    <nz-option *ngFor="let item of sourceChannelList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>

        <div nyGroup="additional_data">
            <div *ngIf="sourceIsStaff" >
                <div class="form-group">
                    <label class="label"><em>*</em>员工姓名:</label>
                    <div>
                        <input nz-input nyName="staff_name" errorStyle="float">
                    </div>
                </div>
                <div class="form-group">
                    <label class="label"><em>*</em>员工手机号:</label>
                    <div>
                        <input nz-input nyName="staff_phone" errorStyle="float">
                    </div>
                </div>
                <div class="form-group">
                    <label class="label"><em>*</em>员工所在部门:</label>
                    <div>
                        <input nz-input nyName="staff_department" errorStyle="float">
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="sourceIsOther">
                <label class="label"><em>*</em>来源渠道备注:</label>
                <div>
                    <input nz-input nyName="source_remark" errorStyle="float">
                </div>
            </div>
        </div>
        

        <div class="form-group" *ngIf="sourceIsSales">
            <label class="label"><em>*</em>推荐人:</label>
            <nz-select style="width: 200px;" nyName="referrer_id" errorStyle="float" 
                [nzShowSearch]="true" [nzServerSearch]="true" (nzOnSearch)="onSearch($event)" 
                (nzScrollToBottom)="loadMore()">
                <nz-option *ngFor="let item of referrerMember" [nzLabel]="item.label" [nzValue]="item.id"></nz-option>
                <nz-option *ngIf="referrerIsLoading" nzDisabled nzCustomContent>
                    <i nz-icon nzType="loading" class="loading-icon"></i> 加载中
                </nz-option>
            </nz-select>
        </div>

        <div class="form-group">
            <label class="label">学习目的:</label>
            <div>
                <nz-select style="width: 200px;" [nzMode]="'multiple'" nyName="study_goal_ids">
                    <nz-option *ngFor="let item of goalList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label">咨询校区:</label>
            <div>
                <nz-select style="width: 200px;" [nzMode]="'multiple'" nyName="consult_school_ids">
                    <nz-option *ngFor="let item of schoolList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label">练习基础:</label>
            <div>
                <nz-select style="width: 200px;" nyName="practice_base_status">
                    <nz-option *ngFor="let item of baseStatus" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
            </div>
        </div>

        <div nyGroup="additional_data">
            <div class="form-group" *ngIf="infoForm && infoForm.getValue('practice_base_status') == 4">
                <label class="label">练习基础备注:</label>
                <div>
                    <input nz-input nyName="practice_remark" errorStyle="float">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="label">咨询课程:</label>
            <div>
                <nz-select style="width: 200px;" [nzMode]="'multiple'" nyName="consult_course_ids">
                    <nz-option *ngFor="let item of consultingCourseList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>
       
        <div class="form-group">
            <label class="label">学习意向:</label>
            <div>
                <nz-select style="width: 200px;" nyName="study_intention_status">
                    <nz-option *ngFor="let item of studyIntentionStatus" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="form-group">
            <label class="label">学员身份:</label>
            <div>
                <nz-select style="width: 200px;" [nzMode]="'multiple'" nyName="student_position_ids">
                    <nz-option *ngFor="let item of studentPostionList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>
        <div class="form-group">
            <label class="label">资源类型:</label>
            <div>
                <nz-select style="width: 200px;" nyName="resource_type_id">
                    <nz-option *ngFor="let item of resourceList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="form-group">
            <label class="label">工作单位:</label>
            <div>
                <input nz-input nyName="company">
            </div>
        </div>

        <div class="form-group">
            <label class="label">权重:</label>
            <div>
                <nz-input-number [nzMin]="0" nyName="weights" errorStyle="float"></nz-input-number>
            </div>
        </div>

        <div class="form-group">
            <label class="label">描述:</label>
            <div>
                <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 6 }"
                          style="width: 300px;resize: none;" nyName="introduction"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="label">备注:</label>
            <div>
                <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 6 }"
                          style="width: 300px;resize: none;" nyName="remark"></textarea>
            </div>
        </div>
    </div>
</ny-modal>

<!-- 详情 -->
<student-detail *ngIf="isInitDetail" [ngStyle]="{ display: detailVisible ? 'block' : 'none' }" [detailVisible]="detailVisible" (visibleChange)="close($event)" 
    [detailData]="detail" [provinceList]='provinceList' [cliqueList]='faction'>
</student-detail>
