<div class="container">
  <div class="content">
    <div class="logo">
      <img src="../../../assets/img/logo.svg" alt="">
    </div>
    <div class="login">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()">
        <p class="title">登录</p>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser" [nzSize]="'large'">
              <input type="text" nz-input formControlName="username" placeholder="账户" />
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('username')?.dirty && validateForm.get('username')?.errors">
              <span *ngIf="validateForm.get('username').errors.required">请输入用户名</span>
              <span *ngIf="validateForm.get('username').errors.invalid">用户不存在</span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock" [nzSize]="'large'">
              <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
             <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
              <span *ngIf="validateForm.get('password').errors.required">请输入密码</span>
              <span
                *ngIf="validateForm.get('password').errors.invalid">密码错误，{{validateForm.get('password').errors.invalid.times}}次错误后将限制登录</span>
              <span *ngIf="validateForm.get('password').errors.limit">登陆限制，请24小时后重试</span>
            </nz-form-explain> 
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登录</button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </div>
  </div>
</div>