<content-header [collection]="collection" [buttonGroups]="buttons">
    <ny-search-input [uri]="'school/teaching/clique/list'" [pageSize]="50"
                     (collection)="setCollection($event)"></ny-search-input>
</content-header>

<ny-table [collection]="collection" [showIndex]="true">
    <ng-template nyColumn label="操作" width='120px' let-item>
        <ng-container>
            <a (click)="startUp(item)" *ngIf="item.status == -1">启用</a>
            <a (click)="forbidden(item)" *ngIf="item.status == 1">禁用</a>
            <nz-divider nzType="vertical"></nz-divider>
        </ng-container>
        <a (click)="remove(item)">删除</a>
    </ng-template>
</ny-table>

<nz-modal [(nzVisible)]="addCliqueModalVisible" [nzTitle]="params.id ? '修改' : '添加'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzWidth]="500" [nzMaskClosable]="false">
    <div nyForm="form" (onInit)="onFormInit()">
        <div class="form-group">
            <label class="label"><em>*</em>派别名称:</label>
            <div>
                <input nz-input placeholder="请输入派别名称" nyName="name" errorStyle="float"/>
            </div>
        </div>
    </div>
</nz-modal>