<content-header [collection]="collection">
    <ny-search-input [uri]="'school/teaching-school/transfer-school/audit-list'" [pageSize]="50"
        (collection)="setCollection($event)"></ny-search-input>
</content-header>

<ny-table [collection]="collection" [showIndex]="true" style="height:100%;">
    <ng-template nyColumn label='操作' let-item>
        <ng-container *ngIf='item.status == 10'>
            <a (click)='pass(item)'>通过</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)='noPass(item)'>不通过</a>
        </ng-container>
    </ng-template>
</ny-table>

<nz-modal nzTitle="转学审核" [nzVisible]="isVisible" (nzOnOk)="subaSuditModal()" (nzOnCancel)="cancelASuditModal()">
    <div class="form-group">
        <label class="label" style="width: 150px;">请选择转学后的销售:</label>
        <div>
            <nz-select [(ngModel)]="salesmanIds"  nzMode="multiple" [nzShowSearch]="true" style="width: 300px;">
                <nz-option *ngFor="let data of salesmanList" [nzLabel]="data.name" [nzValue]="data.id"></nz-option>
            </nz-select>
        </div>
    </div>
</nz-modal>